spring:
  application:
    name: testresult-server
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testresult
    username: sa
    password: ''
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:db/changelog.yml
testresult:
  cleanup:
    days: 14
    rate: 60000
