spring:
  application:
    name: cwa-testresult-server
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testresult
    username: sa
    password: ''
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:db/changelog.yml
springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /api/swagger
management:
  server:
    port: 8081
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: info,health,metrics,prometheus
    jmx:
      exposure:
        include: info,health,metrics,prometheus
  health:
    probes:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
testresult:
  cleanup:
    redeem:
      days: 21
      rate: 3600000
    delete:
      days: 60
      rate: 3600000
  allowed-client-certificates:
